* {
    font-size: 24px;
}

body {
    background-color: #0d1117;
}

h1 {
    font-size: 1.5rem;
}

h2, div {
    color: #fff;
    font-size: .65rem;
}

.tabelasTimes div {
    border: solid .5px #4e4e4e;
    width: 100%;
}

.data {
    width: 100%;
    margin: 0;
}

.cardComplete.flipped {
    transform: rotateY(180deg);
}

.cardJogador,
.cardChampion {
    padding: 0;
    backface-visibility: hidden;
}

.cardJogador {
    background: #0d1117;
}

.cardComplete {
    position: relative;
    width: 100% !important;
    transform-style: preserve-3d;
    transition: all 0.5s ease;

    max-width: 234px;
    max-height: 345.56px;
    min-width: 234px;
    min-height: 345.56px;
    border: none !important;
    display: flex;
    margin: 0 15px;
    padding: 0;
}

.cardChampion {
    max-width: 234px;
    max-height: 345.56px;
    min-width: 234px;
    min-height: 345.56px;

    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    
    transform: rotateY(180deg);
}

.divIconChampion {
    position: absolute;
    background: #000;
    color: #fff;
    right: 12.5%;
    height: 30px;
    width: 75% !important;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    justify-content: center;
    top: -1px;
    border-top-color: #000 !important;
}

.iconChampion {
    position: absolute;
    left: 2px;
    top: 5.5%;
    width: 25px;
}

.nameChampion {
    font-size: 18px;
    left: 20%;
}

.divWinrateChampion,
.divKdaChampion,
.divPlayedChampion {
    position: absolute;
    background: #000;
    color: #fff;
    width: 100% !important;
    border-radius: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 22px;
}

.divWinrateChampion span,
.divKdaChampion span,
.divPlayedChampion span {
    font-size: 16px;
    width: 50%;
}


.divWinrateChampion {
    bottom: calc(44px);
}

.divKdaChampion {
    bottom: calc(22px);
}

.divPlayedChampion {
    bottom: 0%;
    border-radius: 0px 0px 8px 8px;
}

.photo-player {
    position: relative;
}

.country-class,
.team-class {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 15%;
}

.team-class {
    top: 40px;
}