* {
    font-size: 24px;
}

body {
    background-color: #0d1117;
}

h2, div {
    color: #fff;
    font-size: .65rem;
}

.tabelasTimes div {
    border: solid 1px #4e4e4e;
}

.cardJogador {
    width: 100%;
    padding: 0;
    margin: 0 15px;
}

.data {
    width: 100%;
    margin: 0;
}